{% csrf_token %}
<script>
    $(document).ready(function(){
       
        // This to go to sign page when click on already have account 
        $(".go-signin").each(function(){
            
            $(this).click(function(){
                $("#pills-home-tab").trigger('click')
            })
           
        })    
        // This to go to sign page when click on already have account 
        $(".go-register").each(function(){
            
            $(this).click(function(){
                $("#pills-profile-tab").trigger('click')
            })
           
        })    
    
        // This will register the user 
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        $("#register-form").submit(function(e){
            e.preventDefault()
            var data = new FormData(this)
			data.delete('skills')
			data.append('skills',$("#id_skills").val())
            $.ajax({
	            method: "POST",
	            // contentType:'application/json',
	            headers: {
	                'X-CSRFToken': csrftoken,
	            },
	            url: `/register/`,
	            data: data,
	            contentType:false,
	            processData:false,
	            beforeSend: function(){
					$("#error-container").css('display','none')
	                // $("#preloader").css('display','block')
	                // $("#preloader").css('z-index','10')
	                // $("#preloader").css('opacity','0.7')
	            },
	            success: function(response){
	               //This to check errors
	               if(response.errors){
					$("#error-message").html('')
					$("#error-container").css('display','block')
	                for (const e in response.errors) {
					$("#error-message").html(response.errors[e])
	                }


	            }
	            else{
	                // $(".create-item-page").css('opacity','0.1')
	                // $(".response_success").css('display', "block")
	                setTimeout(function(){
	                            $(".response_success").hide(2000, function(){
	                                    $(this).css('display', "none")
	                                    })
	                    }, 3000)
	                // This to close window after creating the item 
                    setTimeout(function(){
                        window.location = '/home'
                    }, 4000)
	                
	                }
	            },
	            error: function(error){
	                console.log(error)
	            },
	            complete: function(){
	                // $("#preloader").css('display','none')
	            }
        })

        })
		
		// This to select picker of skills 
		$(".picker").picker({search : true});
    })
</script>