<script>
    $(document).ready(function(){
       
        // This to go to sign page when click on already have account 
        $(".go-signin").each(function(){
            
            $(this).click(function(){
                $("#pills-home-tab").trigger('click')
            })
           
        })    
        // This to go to sign page when click on already have account 
        $(".go-register").each(function(){
            
            $(this).click(function(){
                $("#pills-profile-tab").trigger('click')
            })
           
        })    
    })
</script>