{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Change Title
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    {% block style %}
    <!-- Type the nav here  -->
    {% endblock %}
    
    {% block content %}

    {% endblock %}
    <script src="{% static 'jquery/jquery-3.6.0.min.js'%}" type="text/javascript"></script>
    {% block scripts %}

    {% endblock %}
</body>
</html>