{% extends "general/base.html" %}
{% block title %}
Home | Sager
{% endblock %}

{% block content %}

<div class="card">
  <h5 class="card-header">Hello, are you new here?</h5>
  <div class="card-body">
    <p>
      This website is to enroll competitions and to see the pariticipants ...
    </p>
  </div>
  <div class="card-footer"> 
    <div class="row justify-content-center text-center">
    <div class="col-12">
      <a href="/login"><button class="btn btn-dark"> Login | Register</button></a>
    </div>
  </div>
</div>

 
  

  </div>
{% endblock %}

{% block scripts %}
<script>
$("#hello").css('color','green')
</script>
{% endblock %}