{% extends "general/base.html" %}
{% block title %}
Login | Register
{% endblock %}
{% block style %}
    {% include 'css/login-css.html' %}
{% endblock %}

{% block content %}

<div class="login-container">
<div class="card text-white bg-dark mb-3" style="width: 90%;">
	<div class="card-header">
		<ul class="nav nav-pills mb-3 mt-3 justify-content-center" id="pills-tab" role="tablist">
			<li class="nav-item" role="presentation">
			  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-signin" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Sign In</button>
			</li>
			<li class="nav-item" role="presentation">
			  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-register" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Register</button>
			</li>
		  </ul>
	  </div>

  <div class="tab-content text-center" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-signin" role="tabpanel" aria-labelledby="pills-home-tab">

			<div class="card-body">
				<div class="login-form">
					<form action="/login/" method="POST">
						{% csrf_token %}
					<div class="sign-in-htm">
						<div class="row justify-content-center">
							<div class="group col-lg-4 col-12">
								<label for="username" class="label">Username</label>
								<input id="username" name="username" type="text" class="input">
							</div>
							<div class="group col-lg-4 col-12">
								<label for="password" class="label">Password</label>
								<input id="password" name="password" type="password" class="input" data-type="password">
							</div>
						</div>
						<div class="row justify-content-center">
						<div class="group col-lg-4 col-12">
							<input type="submit" class="button" value="Sign In">
						</div>
						</div>
						<div class="hr"></div>
						<div class="foot-lnk">
							<a href="#forgot">Forgot Password?</a>
						</div>
						<div class="foot-lnk go-register">
							<p>Are you a new member? <span><a href="#">Register Now</a></span></p>
						</div>
					</div>
					</form>
				</div>
			</div>
	</div>

    <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="pills-profile-tab">

			<div class="card-body">
				<div class="login-form">
					<form action="/" method="POST" id="register-form">
					<div class="sign-up-htm">
						
						<div class="row justify-content-center">
							<div class="group col-lg-4 col-12">
								<label for="first_name" class="label">First Name</label>
								<input id="first_name" type="text" class="input" name="first_name">
							</div>
							<div class="group col-lg-4 col-12">
								<label for="last_name" class="label">Last Name</label>
								<input id="last_name" type="text" class="input" name="last_name">
							</div>
							<div class="group col-lg-4 col-12">
								<label for="user" class="label">Username</label>
								<input id="user" type="text" class="input" name="user">
							</div>
							<div class="group col-lg-4 col-12">
								<label for="id_country" class="label">Country</label>
								{{fields.country}}
							</div>
							<div class="group col-lg-4 col-12">
								<label for="phone_number" class="label">Phone Number</label>
								<input id="phone_number" name="phone_number" type="tel" class="input" pattern="^\+?1?\d{8,15}$" title="Please enter Number like this: +96279000000 which starts with country code">
							</div>
							<div class="group col-lg-4 col-12">
								<label for="email" class="label">Email Address</label>
								<input id="email" name="email" type="email" class="input" title="Please enter valid email. example@cc.com">
							</div>
							<div class="group col-lg-4 col-12">
								<label for="pass" class="label">Password</label>
								<input id="pass" name="pass" type="password" class="input" data-type="password">
							</div>
						</div>

						<div class="row justify-content-center">
							<div class="group col-lg-4 col-12">
								<input type="submit" class="button" value="Sign Up">
							</div>
						</div>
						<div class="hr"></div>
						<div class="foot-lnk go-signin">
							<a href="#" >
							<label for="tab-1" style="text-decoration: underline;
							cursor: pointer;">Already Member?</a>
							</a>
						</div>
					</div>
					</form>
				</div>
			</div>

	</div>

  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
{% include 'scripts/login-js.html' %}
{% endblock %}